* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    z-index: 999;

}

main {
    margin-top: 50px;
}

/* * ALTEZZA */

.min-height {
    min-height: 50px;
}

/* * MARGINI * */

.margin-auto {
    margin: auto;
}

/* * LARGHEZZA * */

.width-100 {
    width: 100%;
}

.width-25 {
    width: 25%;
}

.width-30 {
    width: 30%;
}

.width-60 {
    width: 60%;
}

.width-66 {
    width: 66%;
}

.width-33 {
    width: 33%;
}


.width-calc1 {
    width: calc(100% / 3);
}

.width-calc2 {
    width: calc(100% / 2);
}

.widt-calc3{width: calc(100% / 5);}

/* * BACKGROUND * */

.bg-red {
    background-color: red;
}

.bg-black {
    background-color: black;
}

.bg-orange {
    background-color: orange;
}

/* * CONTAINER * */

.container {
    display: flex;
}

.flex-direction {
    flex-direction: column;
}

.justify {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* .justify-around{justify-content: space-around;} */
.align {
    align-items: center;
}