* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 999;

}

header a {
    text-decoration: none;
    color: black;
}

main {
    margin-top: 50px;
}

.jumboimg {
    max-height: 300px;

}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 8px;
    margin-right: 8px;
}


.buttongray{
    border: solid 1px gray;
    padding: 8px;
    background-color: white;
    margin-top: 10px;
}

.title {
    font-weight: bold;
}

.arrow {
    bottom: 5px;
}

.hrsmall {
    width: 50px;
    margin-top: 30px;
}

.boximg{
    filter: invert(1);
    object-fit: contain;
    width: 100%;
    height: 30%;
}


.boxoverflow{
    overflow: scroll;
}

ul{
    list-style-type: none;
    color: white;
}

ul > li{
    margin-top: 10px;
    margin-bottom: 10px;
}


/* * ALTEZZA */

.min-height {
    min-height: 50px;
}

.min-height-705{
    min-height: 705px
}

.min-height200{
    min-height: 200px;
}

.max-height-450 {
    max-height: 450px;
}

.min-height300{
    min-height: 300px;
}

.min-height-700{
    min-height: 700px;
}


.height-100{
    height:100%;
}

.height-2em {
    height: 2em;
}

.height-400{
    height: 400px;
}

/* * PADDING * */
.padding-30 {
    padding: 30px;
}

.padding-top-60 {
    padding-top: 60px;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px
}

.padding-8 {
    padding: 0 8px;
}

/* * POSITION * */

.position-rel {
    position: relative;
}

.position-abs {
    position: absolute;
}

/* * MARGINI * */

.margin-auto {
    margin: auto;
}

.margin-40{
    margin: 40 0 40 0;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-40{
    margin-top: 40px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-40{
    margin-bottom: 40px;
}

/* * BORDER * */

.border-gray {
    border: solid 1px gray;
}

.border-bottom {
    border-bottom: solid 1px gray;
}

.green{
    border: solid 10px #d1e9cd ;
}



/* * LARGHEZZA * */

.width-100 {
    width: 100%;
}

.width-25 {
    width: 25%;
}

.width-30 {
    width: 30%;
}

.width-50{
    width: 50%;
}

.width-60 {
    width: 60%;
}


.width-70 {
    width: 70%
}

.width-80{
    width: 80%;
}


.width-calc1 {
    width: calc(100% / 3 - 20px);
}

.width-calc2 {
    width: calc(100% / 2);
    height: calc(100% / 2);
}

.width-calc3 {
    width: calc(100% / 5);
}

/* * BACKGROUND * */

.bg-green {
    background-color: #a2d39b;
}

.bg-black {
    background-color: black;
}

.bg-bordeaux{
    background-color: #61082b;
}

.bg-blue1 {
    background-color: #0093ce;

}

.bg-blue2{
    background-color: #0D2481;
}

.bg-red{
    background-color: #FF1C1C;
}

.bg-red2{
    background-color: #D5001F;
}

.bg-yellow{
    background-color: #FFD830;
}

.bg-lightgray{
    background-color: #F5F5F5;
}

.bg-lightblue {
    background-color: #B4D0E7;
}

/* * TEXT * */

.color-black {
    color: black;
}

.color-white {
    color: white;
}

.font-size-40{
    font-size: 40px;
}

.font-58 {
    font-size: 58px;
}

.font-size-30{
    font-size: 30px;
}

.font-weight-bold{
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

/* * CONTAINER * */

.container {
    display: flex;
}

/* * FLEX * */

.flex {
    display: flex;
}

.flex-direction {
    flex-direction: column;
}

.justify {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-left {
    justify-content: left;
}

.align-start{
    align-items: start;
}


/* .justify-end {
    justify-content: flex-end;
} */

.flex-wrap {
    flex-wrap: wrap;
}

/* .justify-around{justify-content: space-around;} */
.align {
    align-items: center;
}